@keyframes color {
    0%   { background: #33CCCC; }
    20%  { background: #33CC36; }
    40%  { background: #B8CC33; }
    60%  { background: #FCCA00; }
    80%  { background: #33CC36; }
    100% { background: #33CCCC; }
  }
  
  body {
    background: #33CCCC; /* Fallback */
    animation: color 9s infinite linear;
    text-align: center;
    padding: 2em;
  }
.Login-1{
    width: 320px;
    height: 420px;
    background: black;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}


.Login{
    width: 320px;
    height: 420px;
    background: black;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.Login .avatar {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.Login h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.Login label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.Login input {
    width: 100%;
    margin-bottom: 20px;
}

.Login input[type="text"], .Login input[type="password"] {
border:none;
border-bottom: 1px solid honeydew;
background: transparent;
outline: none;
height: 40px;
color: azure;
font-size: 16px;
}

.Login input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: blue;
    font-size: 18px;
    border-radius: 20px;
}

.Login input[type="submit"]:hover {
    cursor:pointer;
    background: blue;
    color: black;
}

.Login a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color:darkgrey
}

.Login a:hover {
    color: white;
}

.container{
    width: 250px;
    height: 200px;
    color: aliceblue;
    top:100%;
    left: 50%;
    position: absolute;
    transform: translate(-50% - 50%);
    box-sizing: border-box;
    padding: 70px 30px;
}


